@font-face {
    font-family: 'Kazimir';
    src:
        url('../fonts/Kazimir-Medium.woff2') format('woff2'),
        url('../fonts/Kazimir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
  }
@font-face {
	font-family: 'Vinque';
	src:
        url('../fonts/vinque.woff2') format('woff2'),
        url('../fonts/vinque.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: 
        url('../fonts/ubuntulight.woff2') format('woff2'), 
        url('../fonts/ubuntulight.woff') format('woff');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'MV-WEEKEND';
    src:
        url('../fonts/MV-WEEKEND.woff2') format('woff2'),
        url('../fonts/MV-WEEKEND.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Unageo';
    src:
        url('../fonts/Unageo-Medium.woff2') format('woff2'),
        url('../fonts/Unageo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'GG-Kizhich';
    src:
        url('../fonts/GG-Kizhich-Bold.woff2') format('woff2'),
        url('../fonts/GG-Kizhich-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Crosterian';
    src:
        url('../fonts/Crosterian.woff') format('woff2'),
        url('../fonts/Crosterian.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Dudka';
    src:
        url('../fonts/DudkaBold.woff2') format('woff2'),
        url('../fonts/DudkaBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bartina';
    src:
        url('../fonts/bartina.woff') format('woff'),
        url('../fonts/bartina.woff2') format('woff2'); 
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Soroka';
    src:
        url('../fonts/soroka.woff2') format('woff2'),
        url('../fonts/soroka.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kablammo';
    src:
        url('../fonts/Kablammo-Regular.woff2') format('woff2'),
        url('../fonts/Kablammo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Overdoze_sans';
    src:
        url('../fonts/overdozesans.woff2') format('woff2'),
        url('../fonts/overdozesans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bergamasco';
    src:
        url('../fonts/BergamascoRegular.woff2') format('woff2'),
        url('../fonts/BergamascoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CATLinz';
    src:
        url('../fonts/CATLinz_1.8.woff2') format('woff2'),
        url('../fonts/CATLinz_1.8.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}