body {
    background-color: #DFDFDF;
    font-family: 'Ubuntu';
    font-weight: 300;
    color: #3D3D3D; 
    overflow-x:hidden;
}

.header {
    font-family: 'Kazimir';
    font-weight: 500;
}

.running_title {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw 2.2vw 0;
}

.header {
    flex-direction: column;
}

.title {
    font-size: 13.5vw;
    margin: 1vw 0 0 19vw;
}

.subtitle {
    font-size: 3.2vw;
    margin-left: 30vw;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4vw 2vw 0;
}

/* левая и правая колонки */

.snake, .snake img, .coupon, .coupon img, .spell, .spell img, .pot, .pot img, .pro, .pro img, .discount, .discount img, .tarot, .tarot img, .lovespell, .lovespell img, .drawing, .drawing img {
    width: 26.5vw;
    margin-bottom: 2.1vw;
}

/* шепот змеи */

.snake {
    height: 14.7vw;
}

.snake_description {
    margin: -14vw 4vw 0 4.4vw;
    display: flex;
    flex-direction: column;
}

.snake_title {
    font-family: 'Vinque';
    font-weight: 400;
    font-size: 3.4vw;
}

.snake_subtitle {
    margin-top: 0.4vw;
    font-size: 1.4vw;
}

.snake_adress {
    font-size: 0.9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.8vw 0 0 -0.3vw;
}

/* шепот змеи: анимация */

.snake img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* купон на скидку */

.coupon {
    height: 50vw
}

.coupon_description {
    margin: -51.3vw 1vw 0 1.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coupon_title, .coupon_percent, .coupon_subtitle {
    font-family: 'MV-WEEKEND';
    font-weight: 400;
}

.coupon_title {
    font-size: 4vw;
}

.coupon_percent {
    font-size: 14.2vw;
}

.coupon_subtitle {
    font-size: 2.6vw;
    margin-top: -1.3vw;
}

.coupon_text {
    font-size: 1.3vw;
    text-align: center;
    margin-top: 3vw;
}

.coupon_adress {
    font-size: 0.9vw;
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-top: 4.2vw;
}

#coupon_floor {
    margin-left: 13vw;
}

.coupon_description img {
    width: 20vw;
    margin-top: 2.5vw;
}

/* грибы и цветы */

.draggable {
    position: absolute;
    top: 57vw;
    left: 5vw;
}

#first_mushroom {
    width: 19vw;
    position: relative;
    top: -13vw;
    left: -4vw;
}

#second_mushroom {
    width: 21vw;
    position: relative;
    top: -9vw;
    left: 6vw;
}

#third_mushroom {
    width: 16vw;
    position: relative;
    top: 5vw;
    left: 11vw;
}

#fourth_mushroom {
    width: 19vw;
    position: relative;
    top: 21vw;
    left: 5vw;
}

#narcissus {
    width: 22vw;
    position: relative;
    top: 14vw;
    left: -4vw;
}

#iris {
    width: 14vw;
    position: relative;
    top: 1vw;
    left: -3vw;
}

#seaweed {
    width: 14vw;
    position: relative;
    top: -9vw;
    left: 8vw;
}

#waterplant {
    width: 16vw;
    position: relative;
    top: 10vw;
    left: 1vw;
}

/* заклинание */

.spell {
    height: 17vw;
}

.spell p {
    font-family: 'Unageo';
    font-weight: 500;
    font-size: 1vw;
    text-align: center;
    margin-top: -18.1vw;
}

#editable {
    margin-top: 19.5vw;
    margin-left: 3.3vw;
    width: 20vw;
    height: 9.5vw;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

#editable p {
    text-align: left;
}

/* котел */

.pot {
    height: 30vw
}

.pot_img img {
    width: 15.5vw;
}

.pot_img {
    margin-top: 1vw;
    margin-left: 3vw;
}

.greenstars img {
    width: 16vw;
}

.greenstars {
    position: absolute;
    opacity: 0;
    top: 118vw;
    animation: stars 0.6s ease-in;
}

@keyframes stars {
    0% {
        opacity: 0.5;
        transform: translateY(0vw) scale(0.5);
    }
    10% {
        opacity: 1;
        transform: translateY(-0.5vw) scale(1);
    }
    20% {
        opacity: 1;
        transform: translateY(-1.5vw);
    }
    30% {
        opacity: 1;
        transform: translateY(-2vw);
    }
    40% {
        opacity: 1;
        transform: translateY(-2.5vw);
    }
    50% {
        opacity: 1;
        transform: translateY(-3vw);
    }
    60% {
        opacity: 1;
        transform: translateY(-3.5vw);
    }
    70% {
        opacity: 0.8;
        transform: translateY(-4vw);
    }
    80% {
        opacity: 0.6;
        transform: translateY(-4.5vw);
    }
    90% {
        opacity: 0.4;
        transform: translateY(-5vw);
    }
    100% {
        opacity: 0;
        transform: translateY(-5.5vw);
    }
}

#pot_sprite {
    display: block;
    position: relative;
    width: 19.8vw;
    height: 10.5vw;
    background-size: 99.2vw 42.1vw;
    margin-top: -13.3vw;
    margin-left: -1.9vw;
    background-image: url('../images/pot_sprite.svg');
    animation: pot 1s steps(1) infinite; 
}

@keyframes pot { 
    0% {
        background-position: 0 0;
    }
    5% {
        background-position: -19.8vw 0;
    }
    10% {
        background-position: -39.6vw 0;
    }
    15% {
        background-position: -59.4vw 0;
    }
    20% {
        background-position: -79.2vw 0;
    }
    25% {
        background-position: 0 -10.5vw;
    }
    30% {
        background-position: -19.8vw -150.5w;
    }
    35% {
        background-position: -39.6vw -10.5vw;
    }
    40% {
        background-position: -59.4vw -10.5vw;
    }
    45% {
        background-position: -79.2vw -10.5vw;
    }
    50% {
        background-position: 0 -21vw;
    }
    55% {
        background-position: -19.8vw -21vw;
    }
    60% {
        background-position: -39.6vw -21vw;
    }
    65% {
        background-position: -59.4vw -21vw;
    }
    70% {
        background-position: -79.2vw -21vw;
    }
    75% {
        background-position: 0 -31.5vw;
    }
    80% {
        background-position: -19.8vw -31.5vw;
    }
    85% {
        background-position: -39.6vw -31.5vw;
    }
    90% {
        background-position: -59.4vw -31.5vw;
    }
}

.pot_description {
    margin: -31vw 1.4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pot_title {
    font-family: 'GG-Kizhich';
    font-weight: 700;
    font-size: 2.3vw;
    text-align: center;
}

.pot_subtitle {
    font-size: 1.4vw;
    margin-top: 1.2vw;
    text-align: center;
}

.pot_adress {
    font-size: 0.9vw;
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-top: 1vw;
    margin-left: 0.6vw;
}

#pot_street {
    margin-left: 9.5vw;
}

/* профи-колдуны */

.pro {
    height: 5vw;
    background-color: #547629; 
    border-radius: 1.5vw;
}

.pro p {
    font-family: 'Crosterian';
    font-weight: 400;
    font-size: 1.7vw;
    text-align: center;
    position: relative;
    color:#DFDFDF;
    top: 0.8vw;
}

/* второй столбик */

.fortune, .fortune img, .healing, .stars, .stars img, .market, .market img, .lawyer, .lawyer img {
    width: 38.8vw;
    margin-bottom: 2.1vw;
}

/* гадальный шар */

.fortune {
    height: 24.4vw;
}

.fortune img {
    height: 24.4vw;
}

.divination_description {
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.divination_sponsor {
    align-self: center;
    margin-top: -26.3vw;
}

.divination_text {
    display: flex;
    flex-direction: column;
}

#divination_title {
    font-family: 'Dudka';
    font-weight: 400;
    font-size: 2.5vw;
    margin: 4.2vw 0 1.5vw 2vw;
}

#divination_subtitle {
    font-size: 1.7vw;
    margin-left: 2vw;
}

.magicball img {
    width: 15vw;
    margin-left: 21.3vw;
    margin-top: -18.8vw;
}

.magicball_response {
    font-family: 'Dudka';
    font-weight: 400;
    font-size: 1.5vw;
    color: #3D3D3D;
    margin-top: -16.5vw;
    margin-left: 21.5vw;
    text-align: center;
}

.divination_adress {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 4vw;
    margin-left: 1vw;
}

#divination_street {
    margin-left: 23vw;
}

/* исцеление от неразделенной любви */

.healing {
    display: flex;
    flex-direction: column;
    height: 8.9vw;
    margin-top: 2.1vw;
}

.healing_title {
    font-family: 'Bartina';
    font-weight: 400;
    font-size: 2.8vw;
}

.healing_subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.4vw;
}

#healing_description {
    font-size: 1.5vw;
    margin-right: -7vw;
}

#healing_heartplant img {
    width: 14vw;
    margin-right: -7vw;
    margin-top: -4.7vw;
}

#healing_street {
    font-size: 0.9vw;
    margin-top: 3.5vw;
}

/* звездная пыль */

.stars {
    height: 39.8vw;
    overflow: hidden;
}

.stars_content {
    display: flex;
    flex-direction: column;
}

.stars_hand {
    display: flex;
    flex-direction: column;
}

.glass img {
    width: 6.5vw;
}

.glass {
    margin-top: -25.5vw;
    margin-left: 8.5vw;
}

.hand img {
    width: 22vw;
}

.hand {
    margin-top: -39.3vw;
    margin-left: 1.5vw;
}

.stars_price {
    display: flex;
    flex-direction: row;
    margin-top: -32vw;
    margin-left: 20.9vw;
}
  
.handAnimation {
    margin-top: -39.1vw;
    margin-left: 1.5vw;
    animation: hand 1s linear forwards;
}

.handAnimation img {
    width: 22vw;
}

.glassAnimation {
    margin-top: -25.5vw;
    margin-left: 8.5vw;
    animation: glass 1s linear forwards;
}

.glassAnimation img {
    width: 6.5vw;
}

@keyframes hand {
    from {
        margin-top: -39.1vw;
    }
    to {
        margin-top: -77.1vw;
    }   
}

@keyframes glass {
    from {
        margin-top: -25.5vw;
    }
    to {
        margin-top: -63.5vw;
    }   
}

.stars_price img {
    width: 16.3vw;
} 

.cost {
    display: flex;
    flex-direction: row;
}

.cost img {
    width: 1.1vw;
}

.cost p {
    font-family: 'Soroka';
    font-weight: 400;
    font-size: 3.2vw;
    margin-left: -12.5vw;
    margin-top: 3.4vw;
}

.stars_description {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 1.6vw;
}

#stars_preheader {
    font-size: 1.5vw;
    margin-top: 0.4vw;
}

#stars_title {
    font-family: 'Soroka';
    font-weight: 400;
    font-size: 2.4vw;
    margin-top: 1.2vw;
}

#stars_subtitle {
    font-size: 2vw;
    margin-top: 1vw;
}

/* магический рынок */

.market {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market_adress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#market_title {
    font-family: 'Kablammo';
    font-weight: 400;
    font-size: 4.1vw;
    margin-top: -1vw;
}

#market_subtitle {
    font-size: 1.3vw;
    margin-top: 0.7vw;
}

#market_line img {
    margin-top: 1vw;
}

#market_location {
    margin-top: -4vw;
    font-size: 1.3vw;
}

/* юридические услуги */

.lawyer {
    height: 35.5vw;
}

.lawyer img {
    margin-top: 0.3vw;
}

.lawyer_paragraphs {
    display: flex;
    flex-direction: column;
}

#lawyer_title {
    font-family: 'Overdoze_sans';
    font-weight: 400;
    font-size: 5.4vw;
    margin-top: -36.6vw;
    margin-left: 1vw;
}

#lawyer_firstp, #lawyer_secondp, #lawyer_thirdp {
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-top: 1.3vw;
    margin-bottom: 1.5vw;
}

.frog_text {
    font-family: 'ubuntu';
    font-weight: 400;
    font-size: 1.5vw;
    text-align: left;
    margin-left: 21vw;
    margin-top: -18vw;
}

.frog img {
    width: 24vw;
}

.frog {
    margin-left: 13vw;
    margin-top: -10vw;
}

.frog_animation {
    margin-left: 13vw;
    margin-top: -10vw;
    animation: frog 2s ease forwards;
}

.frog_animation img {
    width: 24vw;
}

@keyframes frog {
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }  
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }  
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
    100% { transform: translateX(-165vw); opacity: 0; }
  }

/* скидка на все отвары */

.discount {
    height: 39vw;
}

.discount_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount_title, .discount_subtitle {
    font-family: 'Bergamasco';
    font-weight: 400;
}

.discount_title {
    font-size: 5.5vw;
    margin-top: -36vw;
}

.discount_subtitle {
    font-size: 2vw;
    margin-top: -0.3vw;
}

.discount_potions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left_potion img {
    width: 6.6vw;
    margin-top: 2.6vw;
}

#mid_potion img {
    width: 7.7vw;
    margin-top: 2.6vw;
}

#right_potion img {
    width: 3.8vw;
    margin-top: 2.5vw;
}

#right_potion {
    margin-left: 1vw;
}

.discount_adress {
    font-size: 1vw;
    margin-top: 0.3vw;
}

/* модальное окошко для левой бутылки */
.first_modal, .second_modal, .third_modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .first_modal_content, .second_modal_content, .third_modal_content {
    background-color: #DFDFDF;
    margin: 30vw auto;
    padding: 2vw;
    width: 50vw;
    height: 29vw;
    text-align: center;
    border: 0.2vw solid #3d3d3d;
  }

  .modal_left img {
    width: 10.5vw;
    margin-top: 2vw;
    margin-left: -37vw;
  }

  #sumrak {
    font-family: 'Bergamasco';
    font-weight: 400;
    font-size: 7vw;
    margin-top: -28vw;
    margin-left: 12vw;
  }

  #sumrak_description {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 1.7vw;
    margin-top: 2vw;
    margin-left: 12vw;
  }

  /* модальное окошко для центральной бутылки */

  .modal_mid img {
    width: 13vw;
    margin-top: 1.5vw;
    margin-left: -32vw;
  }

  #spring {
    font-family: 'Bergamasco';
    font-weight: 400;
    font-size: 7vw;
    margin-top: -29.2vw;
    margin-left: 14vw;
  }

  #spring_description {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 1.7vw;
    margin-top: 2vw;
    margin-left: 14vw;
  }

    /* модальное окошко для правой бутылки */

  .modal_right img {
    width: 7vw;
    margin-top: 0.5vw;
    margin-left: -37vw;
  }

  #memory {
    font-family: 'Bergamasco';
    font-weight: 400;
    font-size: 7vw;
    margin-top: -29.2vw;
    margin-left: 11vw;
  }

  #memory_description {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 1.7vw;
    margin-top: 2vw;
    margin-left: 11vw;
  }
  
  /* The Close Button */
  .close, .close_second, .close_third {
    color: #3d3d3d;
    float: right;
    font-size: 3vw;
    font-weight: bold;
  }
  
  .close, .close_second, .close_third:hover,
  .close, .close_second, .close_third:focus {
cursor: pointer;
  }

/* таро дня */

.tarot, .tarot_back {
    height: 43vw;
}

.tarot_description, .tarot_back_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kazimir';
}

.tarot_description, #tarot_back_title, #tarot_back_number {
    font-weight: 500;
    font-size: 3vw;
    color: #DFDFDF;
}

#tarot_number, #tarot_back_number  {
    margin-top: -44.7vw;
}

#tarot_flower img {
    width: 22vw;
    margin-top: 2.5vw;
    margin-left: 2vw;
}

#tarot_title  {
    margin-top: 0.2vw;
}

/* обратная сторона */

#tarot_back_header {
    font-weight: 500;
    font-size: 2.4vw;
    color: #3d3d3d;
    margin-top: 2vw;
}

#tarot_back_text {
    font-family: 'Ubuntu';
    font-weight: 300;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.6vw;
    font-size: 1.3vw;
    text-align: center;
    color: #3d3d3d;
}

#tarot_back_title {
    margin-top: 2.5vw;
}

#tarot_back_flower {
    display: block;
    position: relative;
    width: 17.3vw;
    height: 18.1vw;
    top: 1.5vw;
    background-size: 69.5vw 36.1vw;
    background-image: url('../images/narcissus_sprite.svg');
    animation: narcissus 1s steps(1) infinite; 
}

@keyframes narcissus { 
    0% {
        background-position: 0 0;
    }
    12% {
        background-position: -17.3vw 0;
    }
    24% {
        background-position: -34.6vw 0;
    }
    36% {
        background-position: -51.9vw 0;
    }
    48% {
        background-position: 0 -18.1vw;
    }
    60% {
        background-position: -17.3vw -18.1vw;
    }
    72% {
        background-position: -34.6vw -18.1vw;
    }
    84% {
        background-position: -51.9vw -18.1vw;
    }
}

/* флип кард анимация   */

.tarot {
    background-color: transparent;
    width: 26.5vw;
    height: 43vw;
    perspective: 1000px;
  }
  
.tarot_inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
.tarot:hover .tarot_inner {
    transform: rotateY(180deg);
  }
  
  .tarot_front, .tarot_back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .tarot_back {
    transform: rotateY(180deg);
  }
  
/* требуется приворот */

.lovespell {
    height: 19.4vw;
}

.lovespell img {
    margin-top: -0.3vw;
}

.lovespell_description {
    display: flex;
    flex-direction: column;
}

.insects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -22.6vw;
}

.insects img {
    width: 8vw;
}

#left_insect {
    margin-left: 0.3vw;
}

#right_insect {
    margin-right: 0.3vw;
}

#left_insect:hover, #right_insect:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(0.1vw, 0.1vw) rotate(0deg); }
    10% { transform: translate(-0.1vw, -0.2vw) rotate(-1deg); }
    20% { transform: translate(-0.3vw, 0vw) rotate(1deg); }
    30% { transform: translate(0.3vw, 0.2vw) rotate(0deg); }
    40% { transform: translate(0.1vw, -0.1vw) rotate(1deg); }
    50% { transform: translate(-0.1vw, 0.2vw) rotate(-1deg); }
    60% { transform: translate(-0.3vw, 0.1vw) rotate(0deg); }
    70% { transform: translate(0.3vw, 0.1vw) rotate(-1deg); }
    80% { transform: translate(-0.1vw, -0.1vw) rotate(1deg); }
    90% { transform: translate(0.1vw, 0.2vw) rotate(0deg); }
    100% { transform: translate(0.1vw, -0.2vw) rotate(-1deg); }
  }

/* большие насекомые */

/* насекомые  */

.butterfly {
    opacity: 0;
    margin-top: -48vw;
}

.butterfly_animation {
    display: block;
    animation: butterfly 3s ease-in-out;
    width: 15vw;
    height: 15vw;
    margin-top: -48vw;
    margin-left: -100vw;
}


@keyframes butterfly {
    0% {
        transform: translate(0vw, -1vw);
    }
    100% {
        transform: translate(140vw, 2.6vw);
    }
}

.dragonfly {
    opacity: 0;
    width: 15vw;
    height: 15vw;
    margin-top: -24vw;
    margin-left: -120vw;
}

.dragonfly_animation {
    display: block;
    animation: dragonfly 4s ease-in-out;
    width: 15vw;
    height: 15vw;
    margin-top: -24vw;
    margin-left: -120vw;
}

@keyframes dragonfly {
    0% {
        transform: translate(0vw, 7vw);
    }
    100% {
        transform: translate(160vw, -4vw);
    }
}

.beetle {
    opacity: 0;
    width: 28vw;
    height: 28vw;
    margin-left: -25vw;
    margin-top: -15vw;
}

.beetle_animation {
    display: block;
    animation: beetle 4s ease-in-out;
    width: 28vw;
    height: 28vw;
    margin-left: 29vw;
    margin-top: -15vw;
}

@keyframes beetle {
    0% {
        transform: translate(0vw, -1vw);
    }
    100% {
        transform: translate(-140vw, 3vw);
    }
}

/* описание карточки с жуками */

.lovespell_title img {
    width: 16vw;
    margin-left: 5vw;
    margin-top: -3vw;
}

.lovespell_subtitle {
    font-size: 1.2vw;
    margin-top: -2vw;
    text-align: center;
}

.lovespell_phone {
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-left: 7.5vw;
}

/* нарисуй цветок */

.drawing {
    height: 17.6vw;
}

.drawing_description {
    display: flex;
    flex-direction: column;
}

.flowers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22vw;
    margin-top: 2.5vw;
    margin-left: 2.1vw;
}

.left_flower img {
    width: 8vw;
}

.central_flower img {
    width: 5vw;
}

.right_flower img {
    width: 7vw;
}

.drawing_title {
    font-family: 'CATLinz';
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
    margin-top: -18.1vw;
}

.drawing_adress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9vw;
    margin-top: -1vw;
}

#drawing_name {
    margin-left: 1.7vw;
}

#drawing_street {
    margin-right: 1.7vw;
}

/* футер */

.footer {
    font-family: 'Kazimir';
    font-weight: 500;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw 2.2vw 2vw;
}